<header>
  <h1>欢迎使用{{title}} mock构建工具</h1>
</header>
<main>
  <section>
    <h3>检测到您还没有社里工作区，您可以先创建一个工作区</h3>
    <div>
      <a id="createWpBtn" href="/create/workplace" target="_self" >创建工作区</a>
    </div>
  </section>
  {{!-- <section>
    <h3>如果您需要在工作区中创建新的项目，可以：</h3>
    <div>
      <button id="createNewProjectBtn">创建新项目</button>
    </div>
  </section> --}}
  <section>
    <h3>检测到工作区中有以下项目，您可以选择一个启动mock服务器：</h3>
    <ul>
      <li>
        <span>项目一</span>
        <div>
          <a href="javascript:void 0">设为默认工作区</a>
          <a href="javascript:void 0">取消默认</a>
        </div>
      </li>
    </ul>
  </section>
</main>
<footer></footer>
