<header>
  <h1>创建项目</h1>
  <a href="/workplace">返回项目管理</a>
</header>
<main>
  <section>
    <h3>项目名称</h3>
    <div>
      <input type="text">
    </div>
  </section>

  <section>
    <h3>项目目录</h3>
    <div>
      <a href="javascript: void 0">
        <input type="file" webkitdirectory>
      </a>
      <span>当前还没有选择项目目录</span>
    </div>
  </section>

  <section>
    <h3>页面模板目录：</h3>
    <div>
      <a href="javascript: void 0">
        <input type="file" webkitdirectory>
      </a>
      <span>当前还没有选择页面模板目录</span>
    </div>
  </section>

  <section>
    <h3>页面装饰模板目录：</h3>
    <div>
      <a href="javascript: void 0">
        <input type="file" webkitdirectory>
      </a>
      <span>当前还没有选择页面装饰模板目录</span>
    </div>
  </section>

  <section>
    <h3>打包发布时的页面类型：</h3>
    <select name="" id="">
      <option value="jsp2Hbs">jsp</option>
    </select>
  </section>


</main>
