<div>
  <a href="/">首页</a>><span>创建工作区</span>
</div>
<main>
  <section>
    <h3>工作区名称</h3>
    <div>
      <input id="wpName" type="text">
    </div>
  </section>
  <section>
    <h3>工作区路径</h3>
    <div>
      <input id="wpPath" type="text">
    </div>
  </section>
  <section>
    <button id="createBtn" >创建工作区</button>
  </section>
</main>
<script type="module" src="/static/mockManage/pages/createWp/main.js" ></script>
